#title {
    text-align: center;
    background-color: #fff;
    border-width: 10px;
    border-color: black;
    border-style: ridge;
    padding: 10px;
    margin: 10px auto;
    max-width: 800px;
    font-family: sans-serif;
}

body {
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

#img-div {
    text-align: center; 
    margin-top: 50px;
}

#image {
    max-width: 400px;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: #fff;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#info1 {
    background-color: #fff;
    border-width: 7px;
    border-color: black;
    border-style: dotted;
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
}

#info2 {
    background-color: #fff;
    border-width: 7px;
    border-color: black;
    border-style: dotted;
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
}

.ul {
    line-height: 10px;
}


#tribute-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}